$header-height:5.5rem;
$footer-height:4.5rem;

$header-bg-color:#313139;

$popup-header-color:#eee;
$popup-radius:0.6rem;

$button-text-color:#755757;

// control buttons colors
$button-ok:green;
$button-cancel:orange;
$button-remove:red;